
.contOne{
    display:flex;
    align-items: center;
    justify-content:center;
    transform:translate(-15px,-15px);
    overflow:hidden;
}
.logo{
    flex-grow:1;
    flex-shrink:1;
    display:grid;
    padding-left:15%;
}
.lens{
    margin-right:15%;
    display:grid;
    flex-grow:1;
    flex-shrink:1;
}
.prakhar{
    font-family:'Agrandir';
    font-size:1em;
    letter-spacing:0.4em;
    font-weight:200;
    transform:translateY(-40%);
}
.message{
    position:absolute;
    left:-10000px;
}
@media screen and (max-width:600px) {
    .contOne{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content:center;
    }
    .logo{
        flex-grow:1;
        flex-shrink:1;
        transform:translate(11%,-30%) scale(0.9);
        padding: 0;
    }
    .lens{
        display:grid;
        flex-grow:1;
        flex-shrink:1;
        padding-top:10%;
        transform:translate(2%,10%) scale(0.8);
    }
    .message{
        position:absolute;
        color:white;
        left:15vw;
        top:65vh;
        font-size: 0.7em;
        width:70vw;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .prakhar{
        font-size:0.8em;
    }
}