* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 513%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow:hidden;
}
.panel{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.panel h1 {
  font-size: 1.8em;
  color: white;
  font-weight: 300;
  margin: 0 auto;
  padding:20px;
}

.gray {
  background-image:url('../src/Page5/WhatsApp\ Image\ 2022-05-27\ at\ 8.47.15\ PM.jpeg');
  object-fit:cover;
  background-size: cover;
}
.blue {
  background-color: #2c7ad2;
}
.orange {
  background-image:url('../src/Page2/DesktopView-RMX.jpg');
  object-fit:cover;
  background-size: cover;
}

.black {
  background-color: #000;
}

.purple {
  background-color: purple;
  
  /* background-image:url('../src/Page4/DesktopView-RMX.png'); */
}
.bgvid{
  width:105%;
  position: fixed;
  left:0;
  top:0;
}
.green {
  
  background-image:url('../src/Page4/DesktopView-RMX.png');
  object-fit:cover;
  background-size: cover;
}
.grid{
  border:2px solid red;
}
.img-grid{
  width:25vw;
  height:35vh;
  border:2px solid red;
}
.img3 , .img4{
  width:50vw;
  height:50vh;
  background-image: url('./Page1/hero-img1.jpg');
  background-size: cover;
}
html,
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  font-family: "Signika Negative", sans-serif, Arial;
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

h1,
h2,
p,
li {
  max-width: 800px;
}

/* HEADER */
header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 6px 10px 10px 10px;
  border-bottom-right-radius: 26px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

/* HEADINGS */
.header-section {
  padding: 0 15px;
  text-align: center;
  margin: 40vh auto 50vh;
}

/* SCROLL DOWN */
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
}
.scroll-down .arrow {
  position: relative;
  top: -4px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}

.super-btn{
  position:fixed;
  right:-1000000px;
}

@media (max-width:600px) {
  .panel{
    touch-action:none;
  }
}