body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Agrandir";
  src: url("../public/Agrandir-GrandLight.otf") format("truetype");
  }
@font-face {
    font-family: "Robolt";
    src: url("../public/RoboltxVintage.ttf") format("truetype");
    }
.btn{
  font-family: 'Agrandir';
}
button:focus{
  border:5px solid #fff !important;
}
